extends layout

block styles

block scripts

block content
    h1 Welcome to the getty page!
    br
    // p=imageArraySize
    table
        tr
        - for (var i = 0; i < imageArraySize; i++) {
            td
                img(src=jsonImage["images"][i]["display_sizes"][0]["uri"] alt="Missing")
            - if(((i+1)%5)==0) {
            tr
            //   br  
            - }
        - }
        
    br
    h5 API KEY
    p=GETTY_KEY