.background {
    background-repeat: no-repeat;
    /*height:600px;*/
    background-size: 100% 100%;
}
.container {
    width: 50%;
    margin: auto;
    padding: 10px;
    background-color: black;
}
.quote {
    font-size: 26px;
    text-align: center;
    color: white;
}

.quote > h3 {
    font-style: italic;
    font-weight: bold;
    color: orange;
    margin-top: 0px;
}
.quote > a {
    color: lightblue;
}

.quote > h3, .quote > blockquote, .quote > a {
    background-color:rgba(35,35,35,0.6);
    padding: 5px;
    border-radius: 20px;
}

@media only screen and (max-height : 650px) {
    .background {
        height: 300px;
    }
}

@media only screen and (min-height : 651px) {
    .background {
        height: 600px;
    }
}